/*body styling*/
body{
  padding: 1rem;
  margin:auto;
  background-color: #2D2A32;

  font-size: 18px;
  line-height: 1.5;
}

/*list styling*/
ul{
  width:auto;

  padding-right: 4rem;

  position:relative;
}

li{
  list-style-position: inside;
  
  font-size: 24px;

  width: auto;

  color: #FAFDF6;
  font-family: 'Playfair Display', serif;
}

main{
  max-width: 85ch;
  margin: auto;
}

/*icon font styling*/
i{
  margin: auto;
}

/*image styling*/
img{
  padding: 1rem;
  padding-left: 50px;
  padding-top: 1rem;
}

/*Used to display nested list as horizontal line
https://unused-css.com/blog/css-horizontal-lists/*/
.sub li{
  display: inline-block;
  font-size: 20px;
  padding-left: 4rem;
}