body{
    padding: 1rem;

    text-align: center;

    background-color: #2D2A32;

    line-height: 1.5;
}
h1,h2{
    color:#EAE151;
    font-family: 'PT Sans', sans-serif;
    font-size: 46px;
}
h2{
    font-size: 35px;
}
p{
    max-width: 84ch;

    margin-left: auto;
    margin-right: auto;

    color: #FAFDF6;

    font-size: 19px;
    font-family: 'Playfair Display', serif;
}
ul{
    width:auto;
    padding-right: 4rem;
    position:relative;
}

li{
    list-style-position: inside;

    
    font-size: 24px;

    width: auto;

    color: #FAFDF6;
    font-family: 'Playfair Display', serif;

}
.link{
    color:#fc7a00;
    text-decoration: none;
}
a:hover{
    color:#fc0004;
}
.listTitle{
    font-size:28px;
}
.list1{
    text-align: center;
}
.sub li{
    display: inline-block;
    font-size: 20px;
    padding-left: 4rem;
}